* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --color-bg-item-recurrent: #2e2555; */
  /* --color-bg-item-recurrent: #3a8ce5; */
  --color-bg-item-recurrent: rgba(133, 13, 82, 0.7);
  /* --color-bg-item-temporal: #423872; */
  --color-bg-item-temporal: rgba(253, 52, 105, 0.7);
  --color-link: #1e4279;
  --color-confirm-green: #03c13f;
  --color-cancel-red: #cf2121;
  --color-text-light-mode: #222;
  --color-body-bg-light-mode: goldenrod;
  --color-text-box-bg: rgba(133, 13, 82, 0.3);
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background-color: #222; */
  /* color: #ececec; */

  color: var(--color-text-light-mode);
  overflow: hidden;
  background-color: var(--color-body-bg-light-mode);
}

small {
  font-weight: 300;
  font-style: italic;
  font-size: 12px;
}

input::placeholder {
  color: inherit;
}

/* button {
  -webkit-filter: grayscale(0.95);
  filter: grayscale(0.95);
} */

.modal {
  display: none;
  background-color: rgb(17, 17, 17, 0.9);
  color: #ececec;

  position: absolute;
  top: 50%;
  left: 50%;

  z-index: 999;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(0);
}

.modal.login-modal .modal-header {
  font-size: 26px;
  text-align: center;
  /* font-weight: 300; */
  /* text-transform: uppercase; */
}

.modal.login-modal {
  height: 600px;
  width: 400px;
  padding: 1rem;
}

.modal.login-modal.active {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transform: translate(-50%, -50%) scale(1);
}

.modal.login-modal.active form {
  width: 100%;
}

.modal.login-modal.active div {
  /* width: 100%; */
  /* height: 50px; */
  padding: 1rem;
  margin: 1rem;
  border-radius: 2px;
  position: relative;
}

.modal.login-modal.active div label {
  font-size: 13px;
  display: block;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.modal.login-modal.active div input {
  background: none;
  border: 1px solid #ececec;
  color: #ececec;
  /* border-bottom: 1px solid goldenrod; */

  width: 100%;
  height: 50px;
  font-size: 20px;
  padding: 0.5rem;
  /* text-align: center; */
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
}

.modal.login-modal.active div input:focus {
  box-shadow: -10px 10px 1px rgba(0, 0, 0, 0.8);
}

.modal.login-modal.active div:last-of-type {
  text-align: center;
}

.container-landing-page {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-page.modal-active > *,
.container-landing-page.modal-active > * {
  -webkit-filter: blur(8px) grayscale(0.7);
  filter: blur(8px) grayscale(0.7);
  pointer-events: none;
}

.container-landing-page.modal-active #emoji-carousel {
  -webkit-animation: none;
  animation: none;
}

#emoji-carousel {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  -webkit-animation: riseAndFall 3s linear;
  animation: riseAndFall 3s linear;
}

#emoji-carousel .emoji-icon {
  font-size: 20rem;
}

#emoji-carousel .emoji-text {
  font-size: 3rem;
  text-align: center;
  font-weight: 200;
  visibility: hidden;
}

#cta-landing-page {
  width: 70%;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 5;
}

#cta-landing-page .cta-header {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

#cta-landing-page #btn-login,
#cta-landing-page #btn-signup,
#btn-login-modal-submit {
  cursor: pointer;
  background: none;
  border-radius: 5px;
  padding: 1em 2em;
  font-size: 1.2em;
  margin: 0 1rem;
  font-weight: 200;
  letter-spacing: 2px;
  color: var(--color-text-light-mode);

  position: relative;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  /* box-shadow: 10px -6px 1px rgba(0, 0, 0, 0.8), -10px 6px 1px rgba(0, 0, 0, 0.8); */
}

#form-login #btn-login-modal-submit {
  margin: 0 auto;
}

#form-login #btn-login-modal-submit:disabled {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

#btn-login-modal-submit {
  background-color: goldenrod;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  /* position: absolute; */
  /* left: 50%; */
}

#btn-login-modal-submit:hover,
#btn-login-modal-submit:focus {
  box-shadow: 10px 6px 1px rgba(0, 0, 0, 0.8);
}

#btn-login:hover,
#btn-signup:hover,
#btn-login:focus,
#btn-signup:focus,
#btn-login-modal-submit:hover,
#btn-login-modal-submit:focus {
  transform: scale(1.1);
  outline: auto;
}

#btn-login:hover,
#btn-login:focus {
  box-shadow: -10px 6px 1px rgba(0, 0, 0, 0.8);
}

#btn-signup:hover,
#btn-signup:focus {
  box-shadow: 10px 6px 1px rgba(0, 0, 0, 0.8);
}

@-webkit-keyframes riseAndFall {
  0% {
    transform: translateY(25px);
    opacity: 0.5;
    -webkit-filter: blur(8px);
    filter: blur(8px);
  }

  20%,
  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes riseAndFall {
  0% {
    transform: translateY(25px);
    opacity: 0.5;
    -webkit-filter: blur(8px);
    filter: blur(8px);
  }

  20%,
  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@media screen and (max-width: 500px) {
  :root {
    font-size: 12px;
  }

  .login-modal {
    height: 300px;
    width: 80%;
  }

  #emoji-carousel,
  #cta-landing-page {
    width: 100%;
  }

  #emoji-carousel {
    justify-content: space-evenly;
  }
}
