* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg-item-recurrent: #2e2555;
  --color-bg-item-temporal: #423872;
  --color-link: #1e4279;
  --color-confirm-green: #30d158;
  --color-cancel-red: #cf2121;
  --color-text-light-mode: #222;
  --color-body-bg-light-mode: goldenrod;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background-color: #222; */
  /* color: #ececec; */

  color: var(--color-text-light-mode);
  overflow: hidden;
  background-color: var(--color-body-bg-light-mode);
}

.container-landing-page {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

small {
  font-weight: 300;
  font-style: italic;
  font-size: 12px;
}

button {
  -webkit-filter: grayscale(0.95);
  filter: grayscale(0.95);
  color: #ececec;
}

#emoji-carousel {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  -webkit-animation: riseAndFall 3s linear;
  animation: riseAndFall 3s linear;
}

#emoji-carousel .emoji-icon {
  font-size: 20rem;
}

#emoji-carousel .emoji-text {
  font-size: 3rem;
  text-align: center;
  font-weight: 200;
  visibility: hidden;
}

#cta-landing-page {
  width: 70%;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 5;
}

#cta-landing-page .cta-header {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

#cta-landing-page #btn-login,
#cta-landing-page #btn-signup {
  cursor: pointer;
  background: none;
  border-radius: 5px;
  padding: 1em 2em;
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 0 1rem;
  font-weight: 200;
  letter-spacing: 2px;
  color: var(--color-text-light-mode);

  position: relative;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  /* box-shadow: 10px -6px 1px rgba(0, 0, 0, 0.8), -10px 6px 1px rgba(0, 0, 0, 0.8); */
}

#btn-login:hover,
#btn-signup:hover,
#btn-login:focus,
#btn-signup:focus {
  transform: scale(1.1);
}

#btn-login:hover,
#btn-login:focus {
  box-shadow: -10px 6px 1px rgba(0, 0, 0, 0.8);
}

#btn-signup:hover,
#btn-signup:focus {
  box-shadow: 10px 6px 1px rgba(0, 0, 0, 0.8);
}

@-webkit-keyframes riseAndFall {
  0% {
    transform: translateY(25px);
    opacity: 0.5;
    -webkit-filter: blur(8px);
    filter: blur(8px);
  }

  20%,
  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes riseAndFall {
  0% {
    transform: translateY(25px);
    opacity: 0.5;
    -webkit-filter: blur(8px);
    filter: blur(8px);
  }

  20%,
  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@media screen and (max-width: 500px) {
  :root {
    font-size: 12px;
  }

  #emoji-carousel,
  #cta-landing-page {
    width: 100%;
  }

  #emoji-carousel {
    justify-content: space-evenly;
  }
}
