* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container-input-box {
  width: 500px;
  min-height: 50px;
  /* background-color: red; */
  border: 3px solid black;
  display: grid;
  grid-template-columns: 90% 10%;
  padding: 1rem;
}

.container-input-box input {
  outline: none;
  border: none;
  height: 100%;
  font-size: 1.125rem;
}

.container-input-box .btn-add-new-item,
.container-item-list .btn-delete-item,
.container-item-list .btn-lock-item {
  cursor: pointer;
  outline: none;
  border: none;
  /* background-color: blue; */
  /* padding: 4px; */
  height: 100%;
  font-weight: 800;
  font-size: 1.5rem;
}

.container-item-list .btn-delete-item {
  /* width: 100%; */
}

.container-item-list {
  width: 500px;
  min-height: 50px;
  border: 3px solid yellow;
  display: grid;
  grid-template-columns: 85% 15%;
  margin: 4px 0;
  padding: 1rem;
  /* background-color: rebeccapurple; */
}

.container-item-list .list-item-icons {
  /* display: inline-block; */
  background-color: red;
}

.container-item-list.recurrent {
  background-color: lightcoral;
}

.container-item-list .list-item-title {
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: capitalize;
}

.container-item-list .list-item-price {
  font-size: 0.9rem;
  font-weight: 300;
}

.container-item-list .list-item-price span {
  color: green;
  font-weight: 600;
}
