@import url("./index.css");

#btn-lists-list-toggle {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 999;

  font-size: 36px;
  /* color: var(--color-link); */
  /* font-weight: 600; */
  /* letter-spacing: 2px; */
}

.container-lists-list {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 300px;
  background-color: rgb(197, 174, 118);
  /* background: none; */
  transform: translateX(-200%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: auto;
  border-right: 1px solid var(--color-text-light-mode);

  /* box-shadow: 8px 0px 1px rgba(0, 0, 0, 0.8); */

  transition: 0.3s ease-in-out;
  /* z-index: -999; */
}

.container-lists-list.active {
  transform: translateX(0);
}

.container-lists-list-item {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 12px 0;
  line-height: 1.8rem;
}

.container-lists-list-item .btn {
  letter-spacing: 0.75px;
  padding: 0.5rem;
  transition: 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.container-lists-list-item .btn-lists-list-display {
  font-size: 18px;
  /* text-transform: uppercase; */
}

.container-lists-list-item .btn-lists-list-display:hover,
.container-lists-list-item .btn-lists-list-display:focus {
  transform: scale(1.15);
}

.container-lists-list-item .btn-lists-list-share,
.container-lists-list-item .btn-lists-list-delete {
  border-radius: 5px;
  /* border: 1px solid var(--color-text-light-mode); */

  /* background: none; */
  /* background-color: goldenrod; */
  background-color: none;
}

.container-lists-list-item .btn-lists-list-share:hover,
.container-lists-list-item .btn-lists-list-share:focus,
.container-lists-list-item .btn-lists-list-delete:hover,
.container-lists-list-item .btn-lists-list-delete:focus {
  transform: scale(1.05);
  outline: auto;
  /* outline-color: inherit; */
  box-shadow: 4px 6px 1px rgba(0, 0, 0, 0.8);
}

.container-lists-list-item .btn-lists-list-share:hover,
.container-lists-list-item .btn-lists-list-share:focus {
  background-color: var(--color-confirm-green);
}

.container-lists-list-item .btn-lists-list-delete:hover,
.container-lists-list-item .btn-lists-list-delete:focus {
  background-color: var(--color-cancel-red);
}

.container-lists-list-item .btn-lists-list-share {
}

.container-lists-list-item .btn-lists-list-delete {
  /* background-color: var(--color-cancel-red); */
}

.container-input-box {
  width: 520px;
  min-height: 50px;
  /* background-color: red; */
  border: 2px solid rgba(0, 0, 0, 0.8);
  box-shadow: -10px 10px 1px rgba(0, 0, 0, 0.8);
  /* box-shadow: -0px 10px 20px rgba(0, 0, 0, 0.2), */
  /* 0px -10px 20px rgba(0, 0, 0, 0.2); */

  grid-template-columns: 90% 10%;

  display: grid;
  gap: 4px;
  padding: 1rem;
  margin: 1rem 0;
}

#input-search-item,
#input-add-item {
  outline: none;
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
  background: transparent;
  height: 100%;
  font-size: 1.125rem;
}

.container-input-box.search-mode .btn-add-new-item {
  visibility: hidden;
}

.container-input-box.add-mode .btn-add-new-item {
  visibility: visible;
}

.container-input-box.search-mode #input-add-item {
  display: none;
}

.container-input-box.add-mode #input-add-item {
  display: block;
}

.container-input-box.search-mode #input-search-item {
  display: block;
}

.container-input-box.add-mode #input-search-item {
  display: none;
}

#input-search-item {
  display: none;
}

#input-add-item {
  display: block;
}

.container-input-box .btn,
.container-item-list .btn {
  cursor: pointer;
  outline: none;
  border: none;

  /* border-radius: 2px; */
  /* border-radius: 50%; */
  background: none;
  height: 100%;
  font-weight: 800;
  margin-left: 4px;
  font-size: 20px;
  height: 40px;
  width: 40px;
}

.container-item-list .btn-delete-item {
  cursor: pointer;
}

.container-items .empty-item-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 1rem;
  font-weight: 800;
  /* background-color: red; */
}

.container-item-list .btn-delete-item:disabled,
.btn-undo-delete:disabled,
.btn-delete-all:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.container-input-box .btn-add-new-item {
  /* font-size: 30px; */
  background-color: var(--color-confirm-green);
  color: #ececec;

  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border: 2px solid var(--color-confirm-green);
  border-radius: 50%;
}

.container-items {
  height: 70vh;
  border-radius: 2px;
  max-height: 70vh;
  min-width: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border: 2px solid rgba(0, 0, 0, 0.8);
  background-color: rgba(51, 51, 51, 0.2);
  box-shadow: -0px 10px 20px rgba(0, 0, 0, 0.2),
    0px -10px 20px rgba(0, 0, 0, 0.2);

  padding: 8px;
}

.container-item-list {
  width: 500px;
  min-height: 50px;
  background-color: var(--color-bg-item-temporal);
  border-radius: 2px;
  display: grid;
  grid-template-columns: 85% 15%;
  margin: 4px 0;
  padding: 1rem;
  /* color: #feffe2; */

  transition: 0.2s linear;
  position: relative;
  /* background-color: rebeccapurple; */
}

.container-item-list:hover {
  filter: saturate(50%);
}

.container-item-list-notes {
  display: none;
  position: relative;
  width: 100%;
  height: 120px;
}

.container-item-list-notes.active {
  display: block;
}

.container-item-list-notes .list-note-textbox {
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 15px;
  /* background-color: rgba(0, 0, 0, 0.7); */
  background-color: var(--color-text-box-bg);
  color: #ececec;
  font-family: inherit;
  border-radius: 3px;
  padding: 12px;
  /* margin-top: -4px; */
  /* border: none; */
}

.container-item-list-notes .btn-list-notes-submit {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  background: none;
  border: none;
  font-size: 18px;
}

.container-item-list .list-item-delete {
  display: flex;
  justify-content: space-around;
}

.container-item-list .list-item-icons {
  background-color: red;
}

.container-item-list.recurrent {
  background-color: var(--color-bg-item-recurrent);
}

.container-item-list .list-item-title {
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: capitalize;
}

.container-item-list .list-item-price {
  font-size: 0.9rem;
  font-weight: 300;
}

.container-item-list .list-item-price span {
  color: var(--color-confirm-green);
  font-weight: 600;
}

.container-ui-buttons {
  max-height: 60px;
  min-width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid #444; */
}

.btn-ui {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 2rem;
  background: none;
  padding: 8px;

  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.btn-ui:hover,
.container-input-box .btn-add-new-item:hover {
  transform: scale(1.15);
}

#modal-info {
  height: 600px;
  width: 400px;
  padding: 0 1.5rem;
}

#modal-info.active {
  display: block;
  transform: translate(-50%, -50%) scale(1);
}

#modal-info div {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

#modal-info .modal-info-msg::after {
  content: attr(data-msg);
}

/* #modal-info .btn {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  width: 120px;
  margin: 0 8px;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
} */

#modal-info .modal-btn-container {
  display: flex;
  flex-direction: column;
}

#modal-info .btn-modal-confirm,
#modal-info .btn-modal-cancel {
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5em 1em;
  min-width: 180px;
  height: 65px;
  font-size: 1.1em;
  margin: 1rem 0;
  font-weight: 200;
  letter-spacing: 2px;
  color: var(--color-text-light-mode);

  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#modal-info .btn-modal-confirm:hover,
#modal-info .btn-modal-cancel:hover,
#modal-info .btn-modal-confirm:focus,
#modal-info .btn-modal-cancel:focus {
  transform: scale(1.1);
  outline: auto;
  /* outline-color: inherit; */
  box-shadow: -10px 6px 1px rgba(0, 0, 0, 0.8);
}

#modal-info .btn-modal-confirm {
  background-color: var(--color-confirm-green);
  /* color: var(--color-confirm-green); */
}

#modal-info .btn-modal-cancel {
  background-color: var(--color-cancel-red);
  /* color: var(--color-cancel-red); */
  /* background-color: rgb(255, 69, 58); */
}

#modal-help {
  min-height: 450px;
  width: 600px;

  /* box-shadow: 4px 4px 16px rgba(141, 141, 141, 0.2); */

  /* font-weight: 400; */
}

#modal-help div {
  padding: 12px;
  margin: 0 12px;
}

#modal-help div #span-lock-icon,
#modal-help div #span-unlock-icon {
  /* display: inline-block; */
  /* font-size: 15px; */
  /* letter-spacing: -1px; */
  /* margin: -2px; */
  /* padding: -8px; */
  padding: 4px;
}

#modal-help div #recurrent-tag-color {
  color: var(--color-bg-item-recurrent);
  font-weight: 800;
}

#modal-help.active {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  transform: translate(-50%, -50%) scale(1);
}

#modal-help.active .btn-text {
  display: flex;
}

#modal-help.active div:last-of-type {
  align-self: center;
}

#modal-help.active #btn-close-modal {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  font-size: 1.55rem;
  color: var(--color-confirm-green);
  font-weight: 600;
  padding: 0.5rem 3rem;
}

.btn-lock-unlock-all .btn-icon,
.btn-delete-all .btn-icon,
.btn-undo-delete .btn-icon {
  font-size: 20px;
}

.btn-lock-unlock-all .btn-text,
.btn-delete-all .btn-text,
.btn-undo-delete .btn-text {
  display: block;
  font-size: 16px;
}

.btn-search-item-list.active {
  transform: scale(1.15);
}

span.up-arrow.active,
span.down-arrow.active {
  -webkit-filter: grayscale(0.8);
  filter: grayscale(0.8);
  color: var(--color-link);
}

.container-page {
  min-height: 100vh;
  min-width: 100vw;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.container-page.modal-active > * {
  -webkit-filter: blur(8px) grayscale(0.7);
  filter: blur(8px) grayscale(0.7);
  pointer-events: none;
}
